html, body {
	height: 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;

}

#headercontainer
{
	position:relative;
	height: 110px;
	top: 0px;
	vertical-align: top;
	left: 0px;
			width: 100%;


}

	#topheader 
	{
		position: fixed;
		top: 0px;
		vertical-align: top;
		left: 0px;
		text-align: left;
		width: 100%;
		height: 110px;
		z-index: 100;
		background: #bbb;
	
	}
	
		#topmenu
		{
			position: relative;
			float: left;
			width: 100%;
			margin-bottom: 10px;
						
		}
			
			#topmenu ul
			{
				float: left;
				padding: 0px;
				width: 100%;
				margin: 0px;
				background-color: #036;
			}
	
			#topmenu li
			{
				display: inline;
				float: left;
				text-align: center;
				padding: 0;
				margin: 0;
			}
			
			#topmenu ul li a
			{
				text-decoration: none;
				padding: .1em 1em;
				color: #fff;
				background-color: #036;
				list-style-type: none;
				vertical-align: top;
				left: 0px;
				font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
				font-size: 12px;
			}
			
			#topmenu ul li a:hover
			{
			color: #fff;
			background-color: #369;
			}
			
			
		#topheader #report-nav {
			padding:0 4px;
			float: left;
			height: 100%;
		}
		
			#topheader #report-nav a {
				font-size:110%;
				border:1px solid #444; /* bg2 */
				padding:0 4px;
			}
			#topheader #report-nav a:hover {
				color:#f44;            /* fg2a */
				border:1px dotted #f44; /* fg2a */
			}
			#topheader #report-nav a.active {
				border:1px solid #f44; /* fg2a */
				outline-style:none; /* Firefox, Camino */
			}
		
		#topheader #dateselector-nav {
			padding:0 4px;
			float: left;
			height: 100%;
		}
		#topheader #accselector-nav {
			padding:0 4px;
			float: left;
			height: 100%;
		}
		
#content
{
	position:relative;
	padding: 20px;
	top: 0px;
				width: 100%;

}


/* formatação para as tabelas */

#data
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	text-align: left;
	border-collapse: collapse;
	white-space:nowrap;
	
}

#data .firstcolumn
{
min-width: 300px;

}

#data .content
{
border: 1px solid #669;
min-width: 50px;
}

#data .content .budget
{

}

#data .content .actual
{

}

#data .content .bgtdiff
{

}

#data th
{
	font-size: 14px;
	font-weight: bold;
	padding: 5px 5px;
	text-align: center;
	color: #039;
}


#data tr.level1
{
	color: #669;
	border-top: 1px solid #e8edff;
	font-weight: bold;
}

#data tr.level1 td.col, tr.level1 td.col-expanded, tr.level1 td.col-collapsed, #data tr.level1:hover td.col-expanded, #data tr.level1:hover td.col-collapsed
{
	/* indent for the text */
	text-indent: 15px;
	/* indent for the minus or plus img */
	background-position:0px;
}

#data tr.level2
{
	color: #669;
	border-top: 1px solid #e8edff;
	font-weight: bold;
}

#data tr.level2 td.col, tr.level2 td.col-expanded, tr.level2 td.col-collapsed, #data tr.level2:hover td.col-expanded, #data tr.level2:hover td.col-collapsed
{
	text-indent: 30px;
	background-position:15px;

}

#data tr.level3
{
	color: #669;
	border-top: 1px solid #e8edff;
}

#data tr.level3 td.col, tr.level3 td.col-expanded, tr.level3 td.col-collapsed, #data tr.level3:hover td.col-expanded, #data tr.level3:hover td.col-collapsed
{
	text-indent: 45px;
	background-position:30px;
}

#data tr.level4
{
	color: #669;
	border-top: 1px solid #e8edff;
}

#data tr.level4 td.col, tr.level4 td.col-expanded, tr.level4 td.col-collapsed, #data tr.level4:hover td.col-expanded, #data tr.level4:hover td.col-collapsed
{
	text-indent: 60px;
	background-position:45px;
}
#data tr.total
{
	font-size: 12px;
	font-weight: bold;
	padding: 5px 5px;
	color: #039;
	background: #eff2ff;
}
#data tr.total td.col
{
	text-align: left;
}
#data td
{
	padding: 5px 5px;
	color: #669;
	text-align: right;
}

#data td.bgt
{
	border: 1px solid #aaa;
}

#data td.act
{
}

#data td.diff
{
color:red;
}

#data td.col
{

text-align: left;

}

#data td.col-expanded
{
	text-align: left;
	background-image:url(img/minus.gif);
	background-repeat:no-repeat;

}

#data td.col-collapsed
{
	text-align: left;
	background-image:url(img/plus.gif);
	background-repeat:no-repeat;

}


#data tr:hover td
{
	color: #339;
	background: #eff2ff;
}

#data tr:hover td.col-expanded
{
	background-image:url(img/minus.gif);
	background-repeat:no-repeat;
}

#data tr:hover td.col-collapsed
{
	background-image:url(img/plus.gif);
	background-repeat:no-repeat;

}


#data tbody
{

}

#data tr.header
{
	font-size: 12px;
	padding: 5px 5px;
	color: #000;
	border-width:1px;
	border-top-style:solid;
}
#data tr.header td.col
{
	color: #000;
	text-align: left;

}

#data tr.header:hover td
{
	background: #fff;
}

#data tr.total
{
	font-size: 12px;
	font-weight: bold;
	padding: 5px 5px;
	color: #000;
	background: #eff2ff;
	border-width:1px;
	border-bottom-style:solid;
}
#data tr.total td.col
{
	color: #000;
	text-align: left;

}
